<div class="card">
  <a href="/restaurants/<%= restaurant["id"] %>">
    <img src="<%= restaurant["photo"]["pc"]["m"] %>" />
    <h1><%= restaurant["name"] %></h1>
    <p><%= restaurant["address"] %></p>
  </a>
</div>