<div id="<%= dom_id user %>" class="card">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
    <% if current_user == user %>
    <% elsif current_user.chat_with?(user) %>
      <%= link_to "Go to Chat", chat_messages_path(chat_id: current_user.chat_with(user).id) %>
    <% elsif (current_user != user) %>
      <%= link_to "Start Chat", chats_path(params: { user_id: user.id }), data: { turbo_method: :post } %>
    <% end %>
  </p>

</div>
