<div id="<%= dom_id wishlist %>" class="card">
  <p>
    <strong>User:</strong>
    <%= wishlist.user.email %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= wishlist.restaurant.name %>
  </p>

</div>
