<div id="<%= dom_id wishlist %>" class="card">
  <p>
    <strong>User:</strong>
    <%= wishlist.user.email %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= link_to wishlist.restaurant.payload["name"], restaurant_path(wishlist.restaurant) %>
  </p>

</div>
