<% content_for :title, "New memory" %>

<h1>New memory</h1>

<%= render "form", user: @memory.user, memory: @memory %>

<br>

<div>
  <%= link_to "Back to memories", user_memories_path(user_id: @memory.user.id) %>
</div>
